html, body{
    margin: 0;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    background: black;
    color: white;
}
:focus{
    outline: none;
}
header{
    height: 70px;
    display: flex;
    align-items: center;
}
header img{
    height: 50px;
    margin: 0 10px;
}
header label{
    font-size: 20pt;
    font-weight: 600;
}
footer{
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 9pt;
}
section{
    height: calc(100% - 100px);
    overflow: auto;
    background: rgb(255, 255, 255, 0.1);
}
section .container{
    margin: 20px;
    display: flex;
    flex-direction: column;
}
section .container .input-group{
    display: flex;
    align-items: center;
}
section .container .input-group input{
    height: 35px;
    width: 300px;
    border: 1px solid gray;
    border-radius: 5px;
}
section .container .input-group button{
    height: 40px;
    border: none;
    border-radius: 5px;
    background: dodgerblue;
    color: white;
    cursor: pointer;
    margin: 0 10px;
    padding: 0 10px;
}
section .container .weatherDetails{
    display: flex;
    gap: 20px;
    color: yellow;
    align-items: center;
}
section .container .errorMsg{
    color: red;
}